[submodule "themes/docport"]
	path = themes/docport
	url = https://github.com/vjeantet/hugo-theme-docport.git
[submodule "public"]
	path = public
	url = https://pepese@github.com/pepese/pepese.github.io.git
